.search{
    display: flex;
    justify-content: center;
    margin-top: 3rem;
    margin-bottom: 1rem;
}

.search input{
    border-radius: 10rem 0 0 10rem;
    border: none;
    height: 1rem;
    width: 20rem;
    background-color: #f1f1f1;
    padding: 1.1rem;
    font-size: 1rem;
    font-weight: 500;
    outline: none;
}

.search button{
    border-radius: 0 10rem 10rem 0;
    border: none;
    height: 3.2rem;
    background-color: #e72929;
    padding: 0 1.1rem;
    font-size: 1rem;
    font-weight: 500;
    color: white;
    cursor: pointer;
    outline: none;
}

.search button:hover{
    opacity: .7;
}

.search button:active{
    opacity: 1.3;
}