<app-search></app-search>
<div style="text-align: center;"><img style="border-radius: 5rem;border: 2px solid #e27292; height: 10rem; width: 20rem;margin-bottom: 10px;" src="{{foodimage}}" alt=""></div>
<app-tags></app-tags>
<app-notfound [visible]="!foods || foods.length<=0" resetLinkText="Reset Search"></app-notfound>
<ul>
    <li *ngFor="let item of foods">
        <a routerLink="/food/{{item.id}}">
            <img src="{{item.imageUrl}}" alt="Food Images">
            <div class="content">
                <div class="name">
                    {{item.name|titlecase}}
                </div>
                <span class="favorite {{item.favorite?'':'not'}}">&hearts;</span>
                <div class="star">
                    <star-rating [value]="item.star" [totalstars]="5" checkedcolor="red" uncheckedcolor="black"
                    size="24px" [readonly]="true"></star-rating>
                </div>
                <div class="product-item-footer">
                    <div class="origins">
                        <span *ngFor="let origin of item.origins">
                            {{origin}}
                        </span>
                    </div>
                    <div class="cook-time">
                        <span>🕑</span>
                        {{item.coockTime}}
                    </div>
                </div>
                <div class="price">
                    {{item.price|currency:"INR"}}
                </div>
            </div>
        </a>
    </li>
</ul>
